<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech News - Publisher One</title>
</head>
<body>
    <h1>Welcome to Tech News!</h1>
    <p>Read the latest articles about technology here.</p>
    
    <!-- First-party analytics script (For Challenge 2 Screenshots) -->
    <!-- <script src="http://analytics.test:9100/static/analytics.js"></script> -->

    <!-- Cookie Syncing Pixel (For Challenge 7 Screenshots) -->
    <!-- UNCOMMENT THE LINE BELOW AND COMMENT OUT THE SCRIPT ABOVE TO TEST SYNCING AGAIN -->
     <img src="http://tracker-one.test:9001/sync" width="1" height="1" style="display:none;" /> 
</body>
</html>
